@using Pract.Helpers
@model Pract.Models.BookPagingViewModel

@{
    ViewBag.Title = "Список книг";
    ViewBag.IsUser = HttpContext.Current.GetOwinContext().Authentication.User.IsInRole("User");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Книги</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Books.FirstOrDefault().Name)</th>
        <th>@Html.DisplayNameFor(model => model.Books.FirstOrDefault().Author)</th>
        <th></th>
    </tr>
    </thead>
    @foreach (var item in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            @if (!ViewBag.IsUser)
            {
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {id = item.Id}, new {@class = "btn btn-edit"}) |
                    @Html.ActionLink("Удалить", "Delete", new {id = item.Id}, new {@class = "btn btn-delete"})
                </td>
            } 
        </tr>
    }

</table>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { page = x }))
</div>
<br />
<br />
@if (!ViewBag.IsUser)
{
    @Html.ActionLink("Добавить", "Create", null, htmlAttributes: new { @class = "btn btn-create" })
}
