@using System.Collections
@using Pract.Helpers
@model Pract.Models.ReceiptPagingViewModel

<table class="table table-hover">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Receipts.FirstOrDefault().UserId)</th>
        <th>@Html.DisplayNameFor(model => model.Receipts.FirstOrDefault().BookId)</th>
        <th>@Html.DisplayNameFor(model => model.Receipts.FirstOrDefault().Book.Author)</th>
        <th>@Html.DisplayNameFor(model => model.Receipts.FirstOrDefault().Date)</th>
        <th>@Html.DisplayNameFor(model => model.Receipts.FirstOrDefault().DateReturn)</th>
        <th></th>
    </tr>
    </thead>

    @foreach (var item in Model.Receipts)
    {
        <tr @(item.DateReturn <= DateTime.Now ? "class=overdue" : "")>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReturn)
            </td>
            @if (!HttpContext.Current.GetOwinContext().Authentication.User.IsInRole("User"))
            {
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "btn btn-edit" }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-delete" })
                </td>
            } 
        </tr>
    }
</table>
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action(ViewContext.RouteData.Values["action"].ToString(), new { page = x }))
</div>
<br/>
<br />