@model IEnumerable<Pract.Models.Receipt>

@{
    ViewBag.Title = "Выдача книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Выдача книг</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.UserId)</th>
        <th>@Html.DisplayNameFor(model => model.BookId)</th>
        <th>@Html.DisplayNameFor(model => model.Book.Author)</th>
        <th>@Html.DisplayNameFor(model => model.Date)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "btn btn-edit" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-delete" })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить", "Create", null, htmlAttributes: new { @class = "btn btn-create" })
@Html.ActionLink("Список просроченных выдач", "Overdue")
