@model IEnumerable<Pract.Models.UserViewModel>

@{
    ViewBag.Title = "Информация о людях";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация о людях</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Users.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Age)</th>
        <th>@Html.DisplayNameFor(model => model.Birthday)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Users.Id }, new { @class = "btn btn-edit" }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Users.Id }, new { @class = "btn btn-delete" })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Добавить", "Create", null, htmlAttributes: new { @class = "btn btn-create" })
